.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between gap: 30px;
}

article {
    border-color: black;
    border-style: solid;
    border: size 1px;
    background-color: red;
}

.box {
    width: 25%;
    padding: 30px;

}

* {
    box-sizing: border-box;

}