body {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/hd/fa7bdd53820011.594239f721e01.gif);
    
}






.flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* gap: 30px; */

}

article {
    border-color: black;
    border-style: solid;
    border: size 1px;
    /* background-color: red; */
}

.box {
    width: 25%;
    padding: 30px;

}


.logo {
    width: 230px;
}

p {
    font-family: "BPG Classic Medium", sans-serif;
}

.uppercase {
    font-family: "ALK Life", sans-serif;
}

header {
    padding: 40px;
}

main {
    padding: 40px;

}

.news-item {
    padding: 40px;
}

header a {
    color: red;

}

header li {
    padding: 20px;
}

header a:hover {
    color: greenyellow;
    transition: all 0.9s;
}

.news-item:hover {
    color: cyan;
    background-color: black;


}

img {
    filter: drop-shadow(8px 8px 10px gray);

}

.news-item {
    line-height: 25px;
    transition: all 0.9s;
}


.sun {
    animation-name: jumping-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jumping-text {
    from {
        margin-left: 20%;
    }

    to {
        margin-left: 0%;
    }

}
